<div class="container">
   <%= link_to raw('<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16" style="transform: scaleX(-1);">
  <path fill-rule="evenodd" d="M10.146 1.646a.5.5 0 0 1 .708 0Z"></path>
  <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-5.147-5.146a.5.5 0 0 1 .708-.708l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
</svg>'), request.referer || root_path, class: 'btn btn-light', style: 'position: absolute; top: 90px; left: 20px;' %>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <div class="d-flex justify-content-between align-items-center">
            
            <h2>Edit Your Profile</h2>
            <div></div>
          </div>
        </div>
        <div class="card-body">
          <% if resource.errors.any? %>
            <div class="alert alert-danger">
              <ul>
                <% resource.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'form' }) do |f| %>

            <div class="form-group">
              <%= f.label :email %>
              <%= f.email_field :email, class: 'form-control', autofocus: true, autocomplete: "email" %>
            </div>

            <div class="form-group">
              <%= f.label :name %>
              <%= f.text_field :name, class: 'form-control', autofocus: true, autocomplete: "name" %>
            </div>

            <div class="form-group">
              <%= f.label :position %>
              <%= f.text_field :position, class: 'form-control', autofocus: true, autocomplete: "position" %>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div class="alert alert-info">Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div class="form-group">
              <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
              <%= f.password_field :password, class: 'form-control', autocomplete: "new-password" %>
              <% if @minimum_password_length %>
                <small class="form-text text-muted"><%= @minimum_password_length %> characters minimum</small>
              <% end %>
            </div>

            <div class="form-group">
              <%= f.label :password_confirmation %>
              <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: "new-password" %>
            </div>

            <div class="form-group">
              <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
              <%= f.password_field :current_password, class: 'form-control', autocomplete: "current-password" %>
            </div>



            <div class="form-group">
              <%= f.submit "Update", class: 'btn btn-primary' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<div class="container mt-3">
  <h3>Cancel my account</h3>
  <div>Unhappy? <br><br> <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger' %></div>
</div>

